body {
  margin-top: 200px;
 margin: 0px;
}
  .header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    background-color: transparent;
    margin-top: -15px;
    z-index: 232;
  }
  
  .logo {

    font-size: 0px;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 20px;
  }
  
  .navigation ul li {
    margin-right: 20px;
  }
  
  .navigation ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
  }
  
  .navigation ul li a:hover {
    color: #ff0040;
  }
  



body {margin-top: 80px;
  margin-bottom: 80px;
 }

.nav{
  width:100%;;
    background-color: rgb(0, 0, 0);
    overflow: auto;
    position: fixed;
    bottom: 0;
    margin: -10px;
    z-index: 565;
    
}
.icon-bar {
    width:100%;;
    background-color: rgb(0, 0, 0);
    overflow: auto;
    position: fixed;
    bottom: 0;
    margin: -10px;
    z-index: 565;
    
}

.icon-bar a {
    float: left;
    width: 25%;
    text-align: center;
    padding: 10px 0px;
    transition: all 0.3s ease;
    color: white;

}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #ff0000;
}
.bookicon{ width: 25%; /* Adjust this value to your preference */
    height: 20px; /* Adjust this value to your preference */

   }
@media screen and (min-width: 768px) {
    .nav {

        display: none;
    
      }
      

  
    }
    
    
    @media screen and (max-width: 768px) {
      
          .navigation{
            display: none;
        }
        
       

  .header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    margin: -10px;
    width: 100%;
  

  }

  .logo img {
    width: 40px;
    height: 40px;
    
}


        }
        .header {
          background-color: #ffffff;
          position: fixed;
          top: 0;
          width: 100%;
        
      }
    
  

      /* Add a circular border to the logo */
      .logo img {
          border-radius: 100px; /* Make the image circular */
          border: 2px solid white; /* Add a white border to the circle */
  
      }

      /* Add a background color to the navigation links for visibility */
      .navigation ul li a {
          background-color: rgb(255, 255, 255); /* Example: semi-transparent white */
      }
      .scrollable-menu {
        display: flex;
        overflow-y: hidden; /* Hide vertical scrollbar */
        scroll-behavior: smooth;
        background-color: #ffffff;
       
        margin: 10px;
 
    }
    
   
    .book-item {

        background-color: rgba(255, 255, 255, 0);
        margin-right: 10px;
      
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .book-image {
        width: 130px;
        height: 210px;
      
      
    }

    .book-title {
        text-align: left;
        font-size: 18px;
        color: #11195e;
        
    }
    .book-author {
      text-align: left;
      color: #000000;
      font-size: 15px;
      font-weight: 100;

      
  }
    
.scrollable-menu{
  gap:1rem;
  padding-top: 20px;
}
    /* Adjustments for a horizontal scrollbar */
    .scrollable-menu::-webkit-scrollbar {
        height: 8px;
    }

    .scrollable-menu::-webkit-scrollbar-thumb {
        background: #ffffff;
        border-radius: 10px;
    }
    .scrollable-menu::-webkit-scrollbar-thumb:hover {
      background: #cccccc;
      border-radius: 10px;
  }

    .scrollable-menu::-webkit-scrollbar-track {
        background: #ffffff;
        border-radius: 10px;
    }
    .heading {font-size: 26px;
line-height: 36px;
font-weight: bold;
display: flex;
align-items: center;
margin-left: 2%;
color: rgb(0, 0, 92);}


  .book {
    position: relative;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    width: 120px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .book img{border-radius: 2px 10px 10px 2px;}


@media screen and (max-width: 768px) {
 
  .nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
    margin-right: 55px ;
  }

  .nav .nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
  }

  .nav .nav__link:hover {
    background-color: #eeeeee;
  }

  .nav .nav__link--active {
    color: #ff0000;
  }

  .nav .nav__icon {
    font-size: 18px;
  }
}

#back-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 30px; /* Adjust the font size as needed */
  color: #333;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 780px;
  height: 25px;
  border-radius: 5px;
  background-color: #ffffff;
}
.search input{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 25px;
  border-radius: 5px;
  background-color: #ffffff;
  
}


 #column {
    float: left;
    width: 132px;
    margin: 2px;
    
    
  }
  
  
  .row {
  
    width: 100%;
     
  }
    /* Styles for the filter container */
    .filter-container {
      background-color: #ffffff;
      overflow-x: auto;
      white-space: nowrap;
      margin: 12px;
      padding-bottom: 1px;
    }

    /* Styles for the filter buttons */
    .filter-btn {
      display: inline-block;
      padding: 5px 10px; /* Adjusted padding */
      height: auto; /* Removed fixed height */
      background-color: #ddd;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }

    /* Styles for active filter button */
    .filter-btn.active {
      background-color: #555;
      color: white;
    }

    
        /* Adjustments for a horizontal scrollbar */
        .filter-container::-webkit-scrollbar {
            height: 8px;
            
        }
    
        .filter-container::-webkit-scrollbar-thumb {
            background: #ffffff;
            border-radius: 10px;
            
        }
        .filter-container::-webkit-scrollbar-thumb:hover {
          background: #d3d3d3;
          
          
      }
    
        .filter-container::-webkit-scrollbar-track {
            background: #ffffff;
            border-radius: 10px;
        }
   

    /* Styles for individual books */
  
    .book {
      width: 130px;
    height: 200px;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 1.1px 1.5px,
        rgba(0, 0, 0, 0.1) 0px 2.8px 3.9px, rgba(0, 0, 0, 0.08) 0px 5.8px 7.9px,
        rgba(0, 0, 0, 0.06) 0px 12.0455px 16.4px, rgba(0, 0, 0, 0.04) 0px 33px 45px;
        border-radius: 2px 8px 8px 2px;
      overflow: hidden;
    }
    
    .book img {
      width: 130px;
    height: 200px;
      display: block;
      object-fit: cover;
    }
    
    /* Book Cover Effect */
    .book::before {
      width: 150px;
    height: 230px;
      content: "";
      position: absolute;
      inset: 0px;
      border-radius: 2px 8px 8px 2px;
      pointer-events: none;
      filter: contrast(310%) brightness(100%);
      box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.118) 0.65%,
        rgba(255, 255, 255, 0.2) 1.53%,
        rgba(255, 255, 255, 0.1) 2.38%,
        rgba(0, 0, 0, 0.05) 3.26%,
        rgba(255, 255, 255, 0.14) 5.68%,
        rgba(244, 244, 244, 0) 6.96%
      );
    }
    
   
